@import '../../styles/fonts';
@import '../../styles/vars';

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px 0 0;
  // z-index: 2;

  @media (min-width: 768px) {
    padding: 16px 0 0;
  }

  @media (min-width: 1440px) {
    padding: 24px 0 0;
  }

  &__wrapper {
    margin: 0 auto;
    padding: 0 16px;

    @media (min-width: 1440px) {
      padding: 0 19px;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lang {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 34px;
    height: 34px;

    border: 1px solid rgba($color: #fff, $alpha: 0.12);
    border-radius: 50%;

    &-image {
      width: 14px;
      height: 20px;
    }
  }

  &__logo {
    width: 46px;
    height: 25px;

    background: transparent;
    border: none;

    @media (min-width: 768px) {
      width: 69px;
      height: 38px;
    }

    @media (min-width: 1440px) {
      width: 84px;
      height: 46px;
    }
  }

  &__menu {
    font-family: "Grtsk Giga";
    text-decoration: none;

    @media (min-width: 768px) {
      visibility: hidden;
    }

    &-link {
      color: $text-color;
      text-decoration: none;
    }
  }
}