@import '../../styles/vars';
@import '../../styles/fonts';

.additional-page {
  height: 100%;

  padding: 32px 0;

  font-family: "Grtsk Giga";
  background-color: $background-color;

  &__wrapper {
    margin: 0 auto;
    padding: 0 21px;
  }

  &__title {
    color: $text-color;
    text-align: center;
  }
}

.transition {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;

  background-color: #5a82f1;
}